<div class="container" ng-controller="GoogleMapController">
    <article class="jumbotron">
        <header class="page-header"><h2 class="text-info text-right">J u n i e K i M ' S i l l u S t R A T i o n</h2></header>
        <section id="philosophy" class="panel panel-danger">
            <h3 class="panel-heading panel-title">Design Philosophy</h3>

            <div class="panel-body">I stick with very foundation in doing the illustrations. Colors and composition.
                I try to find best way to appeal the audience with variety in colors yet, give them plenty of comfort in
                eyes that never bore them.</div>
        </section>
        <section id="inspiration" class="panel panel-warning">
            <h3 class="panel-heading panel-title">Inspirations</h3>

            <div class="panel-body">I adore traditional illustrator. In colors, I admire Norman Rockwell. In drawings, I love Jean-Jacques
                Sempe.
                (Look it up Nicholas series)
                I am also deeply influenced by one of teachers of mine Natalie Nascencio.</div>
        </section>
        <section id="materials" class="panel panel-info">
            <h3 class="panel-heading panel-title">Materials</h3>

            <div class="panel-body">For colors, I like to use oils, gouahce, watercolors. For drawings, I use ink, pen, and pencil.</div>
        </section>
        <section id="bunga" class="panel panel-success">
            <h3 class="panel-heading panel-title">쭈니 ㅂㄱㅂㄱ?</h3>

            <div class="panel-body">쭈니 ㅂㄱㅂㄱ 쭈니 ㅂㄱㅂㄱ 쭈니 ㅂㄱㅂㄱ? 쭈니 ㅂㄱㅂㄱ? 쭈니 ㅂㄱㅂㄱ? 쭈니 ㅂㄱㅂㄱ? 쭈니 ㅂㄱㅂㄱ 쭈니 ㅂㄱㅂㄱ 쭈니 ㅂㄱㅂㄱ? </div>
        </section>
        <section id="bunga2" class="panel panel-default">
            <h3 class="panel-heading panel-title">쭈니 ㅂㄱㅂㄱ?</h3>

            <div class="panel-body">쭈니 ㅂㄱㅂㄱ 쭈니 ㅂㄱㅂㄱ 쭈니 ㅂㄱㅂㄱ? 쭈니 ㅂㄱㅂㄱ? 쭈니 ㅂㄱㅂㄱ? 쭈니 ㅂㄱㅂㄱ? 쭈니 ㅂㄱㅂㄱ 쭈니 ㅂㄱㅂㄱ 쭈니 ㅂㄱㅂㄱ? </div>
        </section>
        <section id="bunga3" class="panel panel-primary">
            <h3 class="panel-heading panel-title">쭈니 ㅂㄱㅂㄱ?</h3>

            <div class="panel-body">쭈니 ㅂㄱㅂㄱ 쭈니 ㅂㄱㅂㄱ 쭈니 ㅂㄱㅂㄱ? 쭈니 ㅂㄱㅂㄱ? 쭈니 ㅂㄱㅂㄱ? 쭈니 ㅂㄱㅂㄱ? 쭈니 ㅂㄱㅂㄱ 쭈니 ㅂㄱㅂㄱ 쭈니 ㅂㄱㅂㄱ? </div>
        </section>
        <section>
            My name is Junie Kim. Here is my picture:
            <img src="img/pigpearl.jpg" class="thumbnail"/>
        </section>
        <section>
        I live in Fresh Meadows, NY.
        <!--<google-map center="map.center" zoom="map.zoom" class="hidden-xs"></google-map>-->
        <google-map center="map.center" zoom="map.zoom" class="visible-xs angular-google-map-container mobile"></google-map>
        </section>
    </article>


    <!-- Find me on social networks -->
    <div>
        <span class="text-info pull-left"><h4>Find me on </h4></span>
        <ul class="social-links">
            <li><a target="_blank" href="https://www.facebook.com/junie.kim.718"
                   class="social-icon facebook">Facebook</a>
            </li>
            <li><a target="_blank" href="https://www.flickr.com/photos/101690713@N06/"
                   class="social-icon flickr">Flickr</a>
            </li>
            <li><a target="_blank" href="http://twitter.com/jewknee620" class="social-icon twitter">Twitter</a></li>
            <li><a target="_blank" href="http://instagram.com/juniekim620" class="social-icon instagram">Instagram</a>
            </li>
        </ul>
    </div>
</div>